.App {
  text-align: center;
  background-color: #112346;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-right: 30px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}